<div>
  <a routerLink="/lazyloading" routerLinkActive="active"> Trigger Lazy-Loading </a> &nbsp;
  <a routerLink="/templateForms" routerLinkActive="active"> Trigger Template Dirven Forms</a>
  <!-- <a routerLink="/a&a" routerLinkActive="active"> Authentication & Authorization </a> -->
</div>

<div>
  <router-outlet></router-outlet>
</div>

<div class="Inputdec center">
  <h4>{{'Explaining @Input Decorator'}}</h4>
  <app-child [Msgfromparent]="parentdata" ></app-child>
</div>

<div class="ImgParent center ">
  <p>Imaginary Parent</p>
  <app-child (eventtrigger)="par_event($event)" ></app-child>
  <span >{{recievedfromchild}}</span>
  <p>// Not working need revision</p>
</div>

<div class="temprefvar center">
  <app-trv class="center"></app-trv>
</div>

<div>
  <app-view-child class="center"></app-view-child>
</div>

<h2>New in Smart Phones</h2>
<div class="container more-products" >
  <app-ng-content>
    <h4 class="title">New in iPhone</h4>
    <p>ng-content renders whatever is entered inbetween the component selectors while calling it on app component</p>
  </app-ng-content>
  <app-ng-content>
    <h4 class="title">New in Samsung</h4>
    <p>ng-content renders whatever is entered inbetween the component selectors while calling it on app component</p>
  </app-ng-content>
  <app-ng-content>
    <h4 class="title">New in Oneplus</h4>
    <p>ng-content renders whatever is entered inbetween the component selectors while calling it on app component</p>
  </app-ng-content>
  <app-ng-content>
    <h4 class="title">New in Xiaomi</h4>
    <p>ng-content renders whatever is entered inbetween the component selectors while calling it on app component</p>
  </app-ng-content>
</div>


  <p>Using *ngFor to loop through an array of products.</p>
  <div class="center">
  <div *ngFor="let model of phones">
    <app-ng-content>
      <h5>New Models in {{model}}</h5>
    </app-ng-content>
  </div>
</div>


<div class="center">
  <app-content-child>
    <p #htmlmarker> Rendered Directly from appComponent </p>
  </app-content-child>
</div>


<div appBackgroundColor="coral">
  <h2>Rendered Custom Directive</h2>
</div>


<div  appBgcolor appHostlistener>
  <h2>Custom directive using rendere and ElementRef</h2>
</div>


<div style="border: 1px solid black;" class="center">
  <app-host-listener></app-host-listener>
</div>

<div class="center">
  <app-component1></app-component1>
  <app-component2></app-component2>
</div>

<div>
  <app-api-works></app-api-works>
</div>

<div>
  <app-ana></app-ana>
</div>



